# 1. Python Data types
---

In [ ]:
# text type String
str = "irfan" # String

# Numeric type
int_ = 10 # int
float_ = 10.10 # float
complex_ = 2 + 3j # complex
print(complex_)

# sequence type
list_ = [1,2,3] #list
touple_ = (1,2,3) # touple is not erasable
range_ = range(10)

# Mapping type
dist_ = {"name": "irfan", "age" : 10}

# list of dists
data = [{"name": "Nusaiba", "age": 7}, {"name": "Irfan", "age": 23}]
print(data)

# set type
set_ = {1,2,4,1} # store unique vale
print(set_)

# Boolean type
bool_ = True
print(bool_)

# None type
none_ = None

print(none_)

In [ ]:
# for loop
for _ in range(10):
  print("one")

In [11]:
# function test

def one():
  print(dist_)

one()

{'name': 'irfan', 'age': 10}

In [ ]:
fruits = ["mangoe", "apple", "banana"]

for c in fruits:
  print(c)

person = {"name": "Irfan", "age": 22, "country": "Bangladesh"}

for key, value in person.items():
  print(f'key = {key} && value = {value}')

for i in range(0, 5):
  print(i)

In [ ]:
num = 10
if(num > 10):
  print(num)
elif(num >1):
  print("hello")
  pass

hello

In [ ]:
person = {"name": "Irfan", "age": 22, "country": "Bangladesh"}
data = [{"name": "Nusaiba", "age": 7}, {"name": "Irfan", "age": 23}, {"name": "Nusaiba", "age": 19}]
print(len(data))
data.append({"name": "hiitesh", "age": 19})
print(data)
print(len(data))

# 2. Data visualization
---

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import random

x = random.sample(range(1,100), 10)
y = random.sample(range(1,100), 10)

plt.plot(x, y, label="Bangladesh", color="red")
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import random

data_bd = {
    "Country": ["Bangladesh"] * 10,
    "Year": [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990],
    "Population": [2000000, 3500000, 4500000, 6000000, 7000000, 8000000, 9000000, 11000000, 12000000, 13500000]
}

data_china = {  # Fixed "Chaina" to "China"
    "Country": ["China"] * 10,
    "Year": [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990],
    "Population": [4000000, 5500000, 6500000, 7000000, 8000000, 9000000, 10000000, 12000000, 13000000, 14000000]
}

x = data_bd["Year"]
xD = data_china["Year"]

y = data_bd["Population"]
yD = data_china["Population"]

plt.plot(x,y, label="Bangladesh", color="red", linestyle='--')
plt.plot(xD,yD, label="Chaina", color="blue", linestyle="-")
plt.xlabel("Year")
plt.ylabel("Population")
plt.title("Population growth in Bangladesh and China")
plt.legend()
plt.show()

# 3. play with random package
---

In [40]:
import random

x = random.uniform(1,100)
print(int(x))
print(x)

num = random.sample(range(1,21),20)
num.sort()
print(num)

11
11.162090526846738
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# 4. Import a csv file and do some crud operation
---

In [ ]:
# import hospital data

import pandas as pd
import random
df = pd.read_csv("./Lab_5/Lab_5/pima-indians-diabetes.csv")

# df["irfan"] = np.random.randint(30, 100, size=768)
# print(df)

new_drop_column = df.drop(columns=['Number of times pregnant'])
print(new_drop_column)

     Number of times pregnant  \
0                           6
1                           1
2                           8
3                           1
4                           0
..                        ...
763                        10
764                         2
765                         5
766                         1
767                         1

     Plasma glucose concentration a 2 hours in an oral glucose tolerance test  \
0                                                  148
1                                                   85
2                                                  183
3                                                   89
4                                                  137
..                                                 ...
763                                                101
764                                                122
765                                                121
766                                                126
767                                                 93

     Diastolic blood pressure (mm Hg)  Triceps skin fold thickness (mm)  \
0                                  72                                35
1                                  66                                29
2                                  64                                 0
3                                  66                                23
4                                  40                                35
..                                ...                               ...
763                                76                                48
764                                70                                27
765                                72                                23
766                                60                                 0
767                                70                                31

     2-Hour serum insulin (mu U/ml)  \
0                                 0
1                                 0
2                                 0
3                                94
4                               168
..                              ...
763                             180
764                               0
765                             112
766                               0
767                               0

     Body mass index (weight in kg/(height in m)^2)  \
0                                              33.6
1                                              26.6
2                                              23.3
3                                              28.1
4                                              43.1
..                                              ...
763                                            32.9
764                                            36.8
765                                            26.2
766                                            30.1
767                                            30.4

     Diabetes pedigree function  Age  Outcome
0                         0.627   50      NaN
1                         0.351   31      0.0
2                         0.672   32      1.0
3                         0.167   21      0.0
4                         2.288   33      1.0
..                          ...  ...      ...
763                       0.171   63      0.0
764                       0.340   27      0.0
765                       0.245   30      0.0
766                       0.349   47      1.0
767                       0.315   23      0.0

[768 rows x 9 columns]